<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Listado de Kairos</title>
    <style type="text/css">
        .pg-normal {
            color: black;
            font-weight: normal;
            text-decoration: none;
            cursor: pointer;
        }
        .pg-selected {
            color: black;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body>
{% extends "base.html" %}

{% block branding %}
    <h1>Catálogo de revisión KAIROS Gotas</h1>

{% endblock %}



{% block content %}
    <table border=3 cellpadding=3>
        <tr>
            <th>Kairos_Producto</th>
            <th>Kairos_Presentacion</th>
            <th>PCCE</th>
            <th>PC</th>
        </tr>{% for item in kpres_kairos %}
        <tr>
            <td rowspan={% if item.xt_pcce_set.all|length == 0 %}1{% else %}{{ item.xt_pcce_set.all|length }}{% endif %}>{{ item.claveproducto.descripcion }} ({{ item.claveproducto.laboratorioproductor.abreviatura }})
            </td>
            <td rowspan={% if item.xt_pcce_set.all|length == 0 %}1{% else %}{{ item.xt_pcce_set.all|length }}{% endif %}>{{ item.descripcion }}
            </td>{% for foo in item.xt_pcce_set.all %}
            <td><a href="/modelador/admin/modeladorFarmacos2/xt_pcce/{{ foo.id_xt_pcce }}" target="_blank">{{ foo.descripcion }}</a>
            </td>
            <td>
                <a href="/modelador/admin/modeladorFarmacos2/xt_pc/{{ foo.id_xt_pc.id_xt_pc }}" target="_blank">{{ foo.id_xt_pc.descripcion }}</a>
            </td>
            </tr>
        {% empty %}
            <td>
                <a href="/modelador/admin/modeladorFarmacos2/xt_pcce/" target="_blank">Sin PCCE!</a>
            </td>
            <td>Sin PC</td>{% endfor %}

    {% endfor %}
    </table>

    <div class="pagination">
        {% if kpres_kairos.has_previous %}
            <a href="?page={{ kpres_kairos.previous_page_number }}">&#171 Anterior</a>
        {% endif %}
        {% for pg in kpres_kairos.paginator.page_range %}
            {% if kpres_kairos.number == pg %}
                <span class="active"><a href="?page={{ pg }}">{{ pg }}</a>|</span>
            {% else %}
                <span><a href="?page={{ pg }}">{{ pg }}</a> |</span>
            {% endif %}
        {% endfor %}
        {% if kpres_kairos.has_next %}
            <span><a href="?page={{ kpres_kairos.next_page_number }}">Siguiente &#187;</a></span>
        {% endif %}
    </div>

{% endblock %}


</body>
</html>