<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

    <title>{% block title %}Modelador{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">

</head>

<body style="margin-left: auto; margin-right: auto;">
<div>
    Bienvenido {{ user }}
    {% if user.is_anonymous %}
        <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
    {% else %}
        <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
    {% endif %}
</div>


{% block branding %}
<h1>Bienvenido al Modelador Semantiko!</h1>
{% endblock %}

{% block content %}
{% endblock %}

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>




