<!DOCTYPE html>
<html>
<head>
    <title>Desc-Conc-Areas-Lugares</title>
</head>
<body>

<ul>
    {% for conc in listado_fsn %}
        <h3>
            FSN: {{ conc.fsn }}
        </h3>
        Descripciones:
        {% for descrip in conc.descripcion_set.all %}
            <ul>{{ descrip.termino }}</ul>
        {% empty %}
            <ul>¡Sin Descripcion!</ul>
        {% endfor %}
        Areas:
        {% for efector in conc.conceptoscasporarea_set.all %}
            <ul><h3>{{ efector.area }}</h3>
            <ul>
            Lugar: {% for lugar in efector.area.cas_lugares_set.all %}
                    <ul>{{ lugar.descripcion }}</ul>
                {% empty %}
                    <ul>¡Sin Lugares!</ul>
            {% endfor %}
            Codigo de Efector: {% for test in efector.efector_set.all %}
                <ul>{{ test.ExamName }}</ul>
                {% empty %}
                    <ul>¡Sin Efector!</ul>
            {% endfor %}
        </ul></ul>
        {% empty %}
            <ul>¡Sin Áreas!</ul>
        {% endfor %}
            </ul>
    <hr>
    {% endfor %}
</ul>
</body>
</html>