<!DOCTYPE html>
<html>
<!--CSS Code-->
<style type="text/css">
    .row {vertical-align: top; height:auto !important;}
    .list {display:none;}
    .show {display:none;}
    .hide:target + .show {display:inline;}
    .hide:target {display:none;}
    .hide:target ~ .list {display:inline;}
    @media print {.hide, .show {display:none;}}
</style>
<head>
    <title>Desc-Conc-Areas-Lugares</title>
</head>
<body>

{% for conc in listado_fsn %}
    <div class="row">
        <a href="#hide{{ conc.id }}" class="hide" id="hide{{ conc.id }}">[+]</a>
        <a href="#show{{ conc.id }}" class="show" id="show{{ conc.id }}">[-]</a> &nbsp;<b>{{ conc.fsn }}</b>

        <div class="list">
            <ul>
                <strong>Descripciones:</strong>
                {% for descrip in conc.descripcion_set.all %}
                    <li>{{ descrip.termino }}</li>
                {% empty %}
                    <ul>¡Sin Descripcion!</ul>
                {% endfor %}

                <strong>Areas:</strong>
                {% for efector in conc.conceptoscasporarea_set.all %}
                    <li>{{ efector.area }}</li>
                    <strong>Efectores:</strong>
                    {% for test in efector.efector_set.all %}
                        <ul>{{ test.ExamCode }} - {{ test.ExamName }}</ul>
                    {% empty %}
                        <ul>¡Sin Efector!</ul>
                    {% endfor %}
                {% empty %}
                    <ul>¡Sin Area!</ul>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
</body>
</html>