{% extends "base.html" %}

{% block title %}
    Bienvenido al Modelador Semantiko
{% endblock %}

{% block content %}
    Favor elegir proyecto:
    <ul>
        <li>
            <a href="/modelador/admin">INGRESAR</a>
        </li>
        <li>
            Creación de Conceptos:
            <ul><a href="/modelador/kairos/">Kairos </a></ul>
            <ul><a href="/modelador/kairos_capsulas/">Kairos (Caps. y Grag.)</a></ul>

            <ul><a href="/modelador/kairos_tabletas/">Kairos Tabletas</a></ul>
            <ul><a href="/modelador/kairos_jarabes/">Kairos Jarabes</a></ul>
            <ul><a href="/modelador/kairos_gotas/">Kairos Gotas</a></ul>
            <ul><a href="/modelador/kairos_ampollas/">Kairos Ampollas, F. Ampollas y Vial</a></ul>


        </li>
        <li>

            <a href="/modelador/xt_pcce/lista_usuarios/">Listado de Validación PCCE</a>
        </li>
        <li>
            <a href="/modelador/xt_pc/lista_usuarios/">Listado de Validación PC</a>
        </li>

        <li>
            <a href="/modelador/autocomplete">autocomplete</a> - ver todos los autocompletar registrados
        </li>
{#        <li>#}
{#            <a href="/hvad_autocomplete/item/add/">hvad autocomplete</a> -#}
{#            demonstrates how to use translated autocompletes with#}
{#            <a href="https://github.com/kristianoellegaard/django-hvad"#}
{#               target="_blank">django-hvad</a>#}
{#        <li>#}
{#            <a href="/inlines_outside_admin/">inlines outside admin</a> - how to#}
{#            use#}
{#            inlines outside admin#}
{#        </li>#}
{#        <li>#}
{#            <a href="/just_javascript/">just javascript</a> - how to create#}
{#            a fully-working autocomplete just by javascript at client-side;#}
{#        </li>#}
    </ul>

{% endblock %}


