<!DOCTYPE html>

<html>
<head>
    <title>Listado de Trabajo</title>
</head>
<body>

<table border=3 cellpadding=5>
        <tr>
            <th>xt_mc</th>
            <th>xt_pc</th>
            <th>xt_pcce</th>
        </tr>
        {% for item in pendientes_mc %}
        <tr>
                <td rowspan={{ item.xt_pc_set.all|length }}>
                        {{ item.descripcion }}
                    {% for pc in item.xt_pc_set.all %}
                        </td>
            <td>
                {{ pc.descripcion }}
            </td>
            <td>
                    {% for pcce in pc.xt_pcce_set.all %}
                        <li>{{ pcce.descripcion }} [{{ pcce.id_xt_mcce.get_tipo_display }}]</li>
                {% empty %}
                        Sin PCCE!
                {% endfor %}

            </td>
        </tr>

        <tr>
            {% endfor %}
        {% endfor %}
        </tr>

</table>


</body>
</html>