{% extends "base.html" %}


{% block extrahead %}
    {# These are needed to enable autocompletes in forms #}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}

{#        {% if user.is_authenticated %}#}
{#    This script enables global navigation autocomplete#}
{#    refer to the docs about global navigation autocomplete for more information#}
{#            {% include 'navigation_autocomplete/script.html' %}#}
{#        {% endif %}#}

{% endblock %}

{% block branding %}{% endblock %}

{% block content %}
    <h1>Editar PCCE</h1>

    <form action="{{ action }}" method="POST">
        {% csrf_token %}
        <ul>
            {{ form.as_ul }}
        </ul>
        <input id="save_pcce" type="submit" value="Grabar" />
    </form>

    <a href="{% url "pcce-lista" %}">Volver a la Lista</a>

{% endblock %}


