<!DOCTYPE html>
<html>
<head>
    <title>Resultados</title>
</head>
<body>

{% extends "base.html" %}

{% block branding %}
    <h1>Catálogo de revisión PCCE</h1>
{% endblock %}

{% block content %}

<ul>


<table border=3 cellpadding=5>

    <tr>
        <th>pcce</th>
        <th>Creador</th>
        <th>Fecha Creacion</th>
        <th>Ultima Modif</th>
        <th>Fecha Ultima Modif</th>
        <th>Rev</th>
    </tr>
    {% for item in modelados_pcce %}
        <tr>

            <td rowspan=1>
                <a href="/modelador/admin/modeladorFarmacos2/xt_pcce/{{ item.id_xt_pcce }}">{{ item.descripcion }}</a>
                    </td>
                    <td>
                        {{ item.usuario_creador.username }}
                    </td>
                    <td>
                        {{ item.fecha_creacion|date:"SHORT_DATE_FORMAT"  }}
                    </td>
                    <td>
                        {{ item.usuario_ult_mod.username }}
                    </td>
                    <td>
                        {{ item.fecha_ult_mod|date:"SHORT_DATE_FORMAT"  }}
                    </td>
                    <td>
                        <input type="checkbox" name="revisado" value="1"
                            {% if item.revisado == 1  %}
                                checked
                            {% endif %}>
                    </td>
                    </tr>
                    <tr>
    {% endfor %}
    </tr>
</table>


<div class="pagination">
    {% if modelados_pcce.has_previous %}
        <a href="?page={{ modelados_pcce.previous_page_number }}">&#171 Anterior</a>
    {% endif %}
    {% for pg in modelados_pcce.paginator.page_range %}
        {% if modelados_pcce.number == pg %}
            <span class="active"><a href="?page={{ pg }}">{{ pg }}</a>|</span>
        {% else %}
            <span><a href="?page={{ pg }}">{{ pg }}</a> |</span>
        {% endif %}
    {% endfor %}
    {% if modelados_pcce.has_next %}
        <span><a href="?page={{ modelados_pcce.next_page_number }}">Siguiente &#187;</a></span>
    {% endif %}
</div>


{% endblock %}

</body>
</html>